{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
    <aside>
        <span class="logo">Directories</span>
        <ul>
            <a href="/admin"><li><i class="fas fa-user-lock"></i>Панель администрирования</li></a>
            <a href="{% url 'home' %}"><li><i class="fas fa-map-signs"></i> Список справочников</li></a>
            <a href="{% url 'directory_items' %}"><li><i class="fab fa-elementor"></i> Список элементов</li></a>
            <a href="{% url 'by_directory_items_basic' %}"><li><i class="fas fa-search"></i>Элементы выбранного справочника</li></a>
            <a href="{% url 'directories_bydate_basic' %}"><li><i class="far fa-clock"></i>Отсортировать справочники по дате</li></a>
        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
